*.obj
*.pdb
*.user
*.ncb
*.suo
*.[Cc]ache
*.log
*.vspscc
*.scc
*.zip
*.docstates
publish.xml
[Dd]ebug*/
[Bb]in
obj/
[Rr]elease*/
_Re[Ss]harper*/
Drops/
Sample/Demo.Web.*/Views/
Sample/Demo.Web.*/Scripts/
Sample/Demo.Web.*/Content/
pull/
packages/
